.list{
    background-color: #D34735;
    width: 45vw;
    height: 30vh;
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
    
    
}

.txt{
justify-self: center;
align-self: center;
}

.buttonEdit{
    width: 100px;
    height: 100px;
}